body {
  color: #244751;
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

main.container {
  background-color: white;
  height: 100%;
  margin: 0 auto;
  padding-top: 140px;
  width: 450px;
}

i {
  padding: 2px;
}