#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  position: fixed;
  top: 0;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
  z-index: 1;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  line-height: 80px;
  padding-left: 10px;
}

#nav-bar .logo {
   float: left;
   height: 80px;
   width: 80px;
}

#nav-bar .slide-toggle {
  background-color: #eee;
  border-radius: 10px;
  float: right;
  font-size: 2em;
  height: 60px;
  margin: 10px;
  vertical-align: middle;
  width: 200px;
}

#nav-bar .slide-toggle:hover {
  background-color: white;
}