section.new-tweet {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 10px;
  margin: auto 2em auto;
  padding: 10px;
}

section.new-tweet h2 {
  border-bottom: 1.5px solid black;
  margin: 0;
  padding: 0;
}

section.new-tweet textarea {
  margin-top: 20px;
  padding: 5px;
  width: 100%;
}

section.new-tweet .counter {
  float: right;
  padding: 1.5px;
}

section.new-tweet .invalid-counter {
  color: red;
  float: right;
  padding: 3.5px;
}