article {
  background-color: #eee;
  border: 2px solid #ccc;
  margin: 1em 2em 1em 2em;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
}
article header {
  background-color: #DCDCDC;
  margin: 0 auto;
  width: 100%;
  padding: 2.5px;
  border-radius: 10px;
}

header h2 {
  display: inline-block;
}

header h6 {
  display: inline;
  float: right;
}

header img {
  height: 50px;
  width: 50px;
  float: left;
  vertical-align: middle;
}

article footer {
  bottom: 0;
  border-top: 0.5px solid black;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  vertical-align: bottom;
}